{% extends './base_back.html.twig' %}

{% block title %}Listes des prets{% endblock %}


{% block body %}

    <h1>Listes des prets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Raison</th>
                <th>Poste</th>
                <th>Debut_travail</th>
                <th>Revenu</th>
                <th>Type</th>
                <th>Duree</th>
                <th>Taux</th>
                <th>Etat</th>
                <th>Date du pret</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pret in prets %}
            <tr>
                <td>{{ pret.id }}</td>
                <td>{{ pret.montant }}</td>
                <td>{{ pret.raison }}</td>
                <td>{{ pret.poste }}</td>
                <td>{{ pret.debutTravail ? pret.debutTravail|date('Y-m-d') : '' }}</td>
                <td>{{ pret.revenu }}</td>
                <td>{{ pret.type }}</td>
                <td>{{ pret.duree ? pret.duree|date('Y-m-d') : '' }}</td>
                <td>{{ pret.Taux }}</td>
                {% if pret.etat is not null %}
                <td>{{ pret.etat.etat }}</td>
                {%  else %}
                <td></td>
                {%  endif %}
                <td>{{ pret.getDatePret() |date() }}</td>
                <td>
                    <a href="{{ path('app_pret_show', {'id': pret.id}) }}">show</a>
                    {% if pret.etat is not null %}
                    <a href="{{ path('app_etatpret_edit', {'id': pret.etat.id}) }}">Changer Etat du pret</a>
                    {%  endif %}
{#                    <a href="{{ path('app_pret_delete', {'id': pret.id}) }}">Delete</a>#}
                    {{ include('pret/_delete_form.html.twig') }}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="10">
                    Il n'y a pas des prets pour le moment
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pret_new') }}">Ajouter</a>
{% endblock %}
