
{% block title %}Listes des Comptes{% endblock %}

{% block body %}
    <h1>Account index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NomComplet</th>
                <th>NumTel</th>
                <th>Email</th>
                <th>Sexe</th>
                <th>DateNaiss</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Brochure</th>
                <th>Services</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.NomComplet }}</td>
                <td>{{ account.NumTel }}</td>
                <td>{{ account.Email }}</td>
                <td>{{ account.Sexe }}</td>
                <td>{{ account.DateNaiss ? account.DateNaiss|date('Y-m-d') : '' }}</td>
                <td>{{ account.Adresse }}</td>
                <td>{{ account.Ville }}</td>
                <td>{{ account.brochureFilename }}</td>
                <td>{{ account.Services }}</td>
                {% if account.etat is not null %}
                <td>{{ account.etat.etat }}</td>
                {%  else %}
                <td></td>
                {%  endif %}
                <td>
                    <a href="{{ path('app_account_show', {'id': account.id}) }}">show</a>
                    {% if account.etat is not null %}
                    <a href="{{ path('app_accstatus_edit', {'id': account.etat.id}) }}">Change Account Status</a>
                    {%  endif %}
{#                    <a href="{{ path('app_pret_delete', {'id': pret.id}) }}">Delete</a>#}
                    {{ include('account/_delete_form.html.twig') }}

                </td>

                
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_account_new') }}">Create new</a>
{% endblock %}
