<!DOCTYPE html>

<title>Budget</title>

{% block body %}
    <h1>Budget</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ budget.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ budget.montant }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ budget.datedebut ? budget.datedebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ budget.datefin ? budget.datefin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_budget_index') }}">back to list</a>

    <a href="{{ path('app_back_budget_edit', {'id': budget.id}) }}">edit</a>

    {{ include('back_budget/_delete_form.html.twig') }}
{% endblock %}
