{% extends './base_front.html.twig' %}


{% block body %}
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            
          <h5 class="card-title">votre Budget est:</h5>
          {% for Budget in Budgets %}
            <h5 class="card-title">{{ Budget.montant }}</h5>
            
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ path('app_budget_edit', {'id': Budget.id}) }}" class="btn btn-primary">Go somewhere</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
    <h1>Depenses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Prenom_destinataire</th>
                <th>Rib_destinataire</th>
                <th>Montant</th>
                <th>Backgroundcolor</th>
                <th>Datedebut</th>
                <th>Categorie_depense</th>
                <th>Type_depense</th>
                <th>actions</th>
                <th>idbudget</th>
            </tr>
        </thead>
        <tbody>
        {% for depense in depenses %}
            <tr>
                <td>{{ depense.id_depense }}</td>
                <td>{{ depense.title }}</td>
                <td>{{ depense.prenomDestinataire }}</td>
                <td>{{ depense.ribDestinataire }}</td>
                <td>{{ depense.montant }}</td>
                <td>{{ depense.backgroundcolor }}</td>
                <td>{{ depense.datedebut ? depense.datedebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ depense.categorieDepense }}</td>
                <td>{{ depense.typeDepense }}</td>
                <td>{{ depense.idbudget }}</td>
                <td>
                    <a href="{{ path('app_depenses_show', {'id_depense': depense.id_depense}) }}">show</a>
                    <a href="{{ path('app_depenses_edit', {'id_depense': depense.id_depense}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_depenses_new') }}">Create new</a>
{% endblock %}
